$border: 1px solid var(--primary-low);

@mixin banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1rem;
  margin-top: 0rem;
}
@mixin banner-heading {
  font-family: var(--heading-font-family);
  font-size: var(--font-up-6);
  font-weight: 600;
  color: var(--primary);
}
