@import "str-to-list";

$list: str-to-list("#{$category_list_banners}", "|");
$nested-list: ();
@each $item in $list {
  $item: str-to-list("#{$item}", ";");
  $nested-list: append($nested-list, $item);
}
@mixin banner {
  display: block;
  position: relative;
  min-height: 150px;
  margin-top: 50px;
  border: none;
}
@mixin banner-heading {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-family: var(--heading-font-family);
  font-size: var(--font-up-6);
  font-weight: 600;
  color: var(--secondary);
}

.category-list {
  display: flex;
  flex-direction: column;
  &.with-topics {
    margin-left: 0px;
  }
  @each $id, $color, $heading in $nested-list {
    .category-list-banner.category-#{$id} {
      @include banner;
<<<<<<< Updated upstream
      margin-top: 30px;
      background: rosybrown;
      &:after {
        @include banner-heading;
        content: "Banner heading";
      }
    }
    .category-list-banner:nth-child(7) {
      @include banner;
      background:thistle;
      &:after {
        @include banner-heading;
        content: "Banner heading";
      }
    }
    tr {
      display: flex;
      border: 1px solid var(--primary-low);
      border-top: none;
      margin-bottom: 0;
    }
=======
      background-color: #{$color};
      &:after {
        @include banner-heading;
        content: $heading;
      }
    }
  }
  .category-list-banner:first-child {
    margin-top: 25px;
>>>>>>> Stashed changes
  }
}
