@import "str-to-list", "variables";

$list: str-to-list("#{$category_list_banners}", "|");
$nested-list: ();
@each $item in $list {
  $item: str-to-list("#{$item}", ";");
  $nested-list: append($nested-list, $item);
}
.category-list {

  @each $id, $color, $heading in $nested-list {
    .category-list-banner.category-#{$id} {
      @include banner;
      background-color: #{$color};
      &:after {
        @include banner-heading;
        content: $heading;
      }
    }
    tbody tr[data-category-id='#{$id}'] {
      border-top: $border;
    }
    .category-list-item[data-category-id='#{$id}'] tbody {
      border-top: $border !important;
    }
  }

  .category-list-banner:first-child {
    margin-top: 1.5rem;
  }
}
