@import "variables";

.category-list {
  thead {
    display: none;
  }
  tbody {
    border-top: none;
    tr {
      display: flex;
      border: $border;
      border-left: none;
      border-top: none;
      margin-bottom: 0;
    }
  }
}
.category-list:not(.with-topics) {
  tbody tr {
    justify-content: space-between;
    td.topics {
      align-self: center;
      text-align: center;
    }
  }
}
@if $hide_category_color == "true" {
  .category-list {
    td.category {
      border-left: none !important;
    }
    tbody {
      tr {
        border-left: $border;
        padding: 0.3rem;
      }
    }
  }
}
